api.seudominio.com.br {
    reverse_proxy localhost:3000

    header {
        # CORS para o app mobile
        Access-Control-Allow-Origin *
        Access-Control-Allow-Headers "Authorization, Content-Type"
        Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    }

    # WebSocket
    @websocket {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @websocket localhost:3000
}
